__pycache__/
*/working/*
*/output/*
*/input/*
technomile_venv/
*.pyc
*__pycache__/
*/dump/*
*/venv/*
*/.venv/*
*/.vscode/*
*.pkl
target
.idea
.vscode
.pybuilder
.DS_Store
__pycache__
*.pyc
src/.DS_Store
.coverage
*.log
*.egg-info*
*/.idea/*
*/.DS_Store/*
